@tailwind base;
@tailwind components;

.poppins {
  font-family: "Poppins", sans-serif;
}
.owly-1 > * + * {
  margin-top: 1rem;
}
.owly-2 > * + * {
  margin-top: 1.5rem;
}
.owlx-1 > * + * {
  margin-left: 1rem;
}
.owlx-2 > * + * {
  margin-left: 1.5rem;
}
@layer components {
  .button {
    @apply bg-green-200 py-1 px-3 rounded-full;
  }
}

@tailwind utilities;
